﻿<p>
Исходные коды проекта, описанного в серии статей:<br/>
"Создаем прототип микрофреймворка на PHP".
</p>
<p>
В основной ветке репозитория, содержаться коммиты, помеченные тегами part1, part2, part3 соответствующие трем статьям:
<ul>
	<li><a href="http://habrahabr.ru/post/150267/">Реализация MVC шаблона</a>;</li>
	<li><a href="http://habrahabr.ru/post/150268/">Реализация роутинга, разделение видов</a>;</li>
	<li><a href="http://habrahabr.ru/post/150270/">Админка, авторизация и темизация</a>.</li>
</ul>
</p>
<p>&copy; vitalyswipe</p>
